/* Fonts

font-family: 'Delius', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Merriweather', serif;
font-family: 'Yellowtail', cursive;
*/

h1 {
  font-family: 'Yellowtail', cursive;
  font-size: 35px;
}

header span {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 10px;
}

a {
  color: black;
}

/*******************************
          App Styles
********************************/

/*          HEADER          */

header div {
  width: 960px;
  height: 45px;
  margin: 30px auto;
  outline: 1px solid orange;
}

.logo img {
  padding-right: 10px;
  display: inline;
  width: 45px;
}

header h1 {
  display: inline;
  width: 35px;
  vertical-align: top;
}

header span {
  display: inline;
  width: 10px;
  vertical-align: bottom;
  text-align: top;
}

nav {
  height: 24px;
  margin-bottom: 0px;
  outline: pink 1px solid;
}

nav ul li {
  outline: 1px dotted grey;
  float: right;
  margin-bottom: 11px;
}

/* MAIN */

.lg-style-bar {
  height: 8px;
  width: 960px;
  margin: 30px auto;
  background-color: black;
}

main {
  width: 960px;
  margin: 0px auto;
}

main h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 40px;
  font-weight: bold;
}

#main-sub-heading {
  height: 12px;
  margin-top: 5px;
  margin-bottom: 30px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 12px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.right a {
  color: #black;
  text-decoration: none;
}

/* Directions */

#directions {
  margin: 30px 0px;
  font-family: Serif;
  font-weight: 100;
  font-size: 20px;
}

/* Ingredients List */

#ingredients-checklist {
  width: 960px;
  height: 305px;
  font-family: 'Delius', cursive;
  font-size: 20px;
  outline: 1px blue dotted;
  background-image: url('http://www.placehold.it/899x305');
}

#ingredients-checklist fieldset {
  padding: 20px;
}

#ingredients-checklist input {
  float: left;
}

.clearfix {
  clear: both;
}
