/* Fonts

font-family: 'Delius', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Merriweather', serif;
font-family: 'Yellowtail', cursive;
*/

h1 {
  font-family: 'Yellowtail', cursive;
  font-size: 35px;
}

header span {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 10px;
}

a {
  color: black;
}

/*******************************
          App Styles
********************************/

/*          HEADER          */

header div {
  width: 960px;
  height: 45px;
  margin: 30px auto;
  outline: 1px solid orange;
}

.logo img {
  padding-right: 10px;
  display: inline;
  width: 45px;
}

header h1 {
  display: inline;
  width: 35px;
  vertical-align: top;
}

header span {
  display: inline;
  width: 10px;
  vertical-align: bottom;
  text-align: top;
}

nav {
  height: 24px;
  margin-bottom: 0px;
  outline: pink 1px solid;
}

nav ul li {
  outline: 1px dotted grey;
  float: right;
  margin-bottom: 11px;
}

/* MAIN */

.lg-style-bar {
  height: 8px;
  width: 960px;
  margin: 30px auto;
  background-color: black;
}

main {
  width: 960px;
  margin: 0px auto;
}

main h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 40px;
  font-weight: bold;
}

#main-sub-heading {
  height: 12px;
  margin-top: 5px;
  margin-bottom: 30px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 12px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.right a {
  color: #black;
  text-decoration: none;
}

/* Directions */

#directions {
  margin: 30px 0px;
  font-family: Serif;
  font-weight: 100;
  font-size: 20px;
}

/* Ingredients List */

#ingredients-checklist {
  width: 960px;
  height: 305px;
  padding: 0;
  margin: 0 auto;
  font-family: 'Delius', cursive;
  font-size: 20px;

  background-image: url('http://www.placehold.it/899x305');
}

#ingredients-checklist fieldset {
  padding: 5px 15px;
}

#ingredients-checklist input {
  float: left;
}

.left-checklist {
  float: left;
  margin: 50px 50px;
}

.right-checklist {
  float: right;
  margin: 50px 50px;
}


/* PROFILE */

.profile {
  width: 960px;
  height: 220px;
}

.profile .bio {
  position: relative;
  width: 682px;
  height: 93px;
  float: left;
}

.profile img {
  width: 73px;
  height: 70px;
  margin-right: 20px;
  float: left;
  border-radius: 50%;
}

.profile h3 {
  font-family: garamond;
  font-weight: bold;
  font-size: 22px;
  color: #303030;
}

.profile span {
  display: inline-block;
  margin-top: 5px;
  font-family: garamond;
  font-weight: lighter;
  font-size: 20px;
  color: #303030;
}

.bio-btn {
  width: 185px;
  height: 70px;
  position: relative;
  float: right;
}

.bio-btn button {
  width: 185px;
  height: 54px;
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  border-radius: 3px;
  font-family: 'Oswald', sans-serif;
  font-weight: 200;
  font-size: 18px;
  color: white;
  background: #C06F5E;
}

.clearfix {
  clear: both;
}
